section
{
	background-color: #43CD80;
	float: left;
	padding: 15px;
	text-align: center;
}

footer
{
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px;
}

body
{
	background-color: #43CD80;
	color: white;
	margin: 0 auto;
	width: 100%;
}